@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gradient-to-b from-animeBg to-white font-sans;
}

.glow {
  box-shadow: 0 6px 24px rgba(124,77,255,0.12), 0 0 30px rgba(124,77,255,0.08) inset;
  border-radius: .75rem;
}

.reveal--hidden { opacity: 0; transform: translateY(30px); transition: all 0.7s ease; }
.reveal--visible { opacity: 1; transform: translateY(0); }
iframe {
  border: none;
}
